{% extends 'shop/basic.html' %}
{% block title %} About Us {% endblock %}
{% block body %} <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">About us</h1>
          <p>This is an e-commerce website. you can buy all trending and fashionable stuff over here.</p>
          <p><a class="btn btn-primary btn-lg" href="https://www.goodworklabs.com/top-five-e-commerce-websites-in-india/" role="button">Learn more &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>History</h2>
            <p>My_awesome_cart was founded by miss Ayushi parents . In January 2020, the company began service as an online bookstore. ... In the first two months of business, Amazon sold to all 50 states and over 45 countrie..... </p>
            <p><a class="btn btn-secondary" href="https://en.wikipedia.org/wiki/History_of_Amazon" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Team</h2>
            <p>mr.XYZ
            <br>
            miss.ABC 
            <br>
        .....</p>
            <p><a class="btn btn-secondary" href="https://en.wikipedia.org/wiki/List_of_Amazon_products_and_services" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Products Available</h2>
            <p>Amazon product lines include several media (books, DVDs, music CDs, videotapes, and software), apparel, baby products, consumer electronics, beauty products, gourmet food, groceries, health and personal-care items, industrial & scientific supplies, kitchen items, jewelry and watches, lawn and garden items, musical.....</p>
            <p><a class="btn btn-secondary" href="https://en.wikipedia.org/wiki/List_of_Amazon_products_and_services" role="button">View details &raquo;</a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>


    {% endblock %}
